<style>
  .CampaignBanner{
    position: fixed;
    z-index: 9999;
    bottom: 45px;
    right: 40px;
    margin: auto;
    width: 360px;
    aspect-ratio: 3/1;
    height: fit-content;
    transition: .4s;
  }
  .CampaignBanner:hover{
    opacity: .8;
  }
  .CampaignBanner > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media(max-width: 500px){
    .CampaignBanner{
      left: 0;
      right: 0;
      bottom: 27px;
    }
  }
</style>
<section class="CampaignBanner">
  <a href="{{ section.settings.CampaignBanner__Link }}">
    <img src="{{ section.settings.CampaignBanner__img | img_url: 'master' }}" alt="キャンペーンバナー">
  </a>
</section>

{% schema %}
{
  "name": "キャンペーンバナー",
  "presets": [
    {
      "name": "キャンペーンバナー"
    }
  ],
  "settings": [
      {
        "type": "image_picker",
        "id": "CampaignBanner__img",
        "label": "バナー選択"
      },
      {
        "type": "url",
        "id": "CampaignBanner__Link",
        "label": "遷移先リンク"
      }
    ]
}
{% endschema %}
