<section class="Slider">
  <div class="Slider__ContentWrapper">
    {% for block in section.blocks %}
      <div class="Slider__Content">
        <a href="{{ block.settings.Slider__ContentLink }}">
          <img src="{{ block.settings.Slider__ContentImage | img_url: 'master' }}" alt="スライダー画像">
        </a>
      </div>
    {% endfor %}
  </div>
</section>

{% javascript %}
  $('.Slider__ContentWrapper').slick({
    autoplay: true,//自動的に動き出すか。初期値はfalse。
    infinite: true,//スライドをループさせるかどうか。初期値はtrue。
    slidesToShow: 1,//スライドを画面に3枚見せる
    slidesToScroll: 1,//1回のスクロールで3枚の写真を移動して見せる
  });
{% endjavascript %}

{% schema %}
{
  "name": "メインビジュアル",
  "presets": [
    {
      "name": "メインビジュアル"
    }
  ],
  "settings": [

    ],
  "blocks": [
    {
      "name": "スライダー画像",
      "limit": 5,
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "Slider__ContentImage",
          "label": "t:sections.Slider.blocks.settings.Slider__ContentImage.label"
        },
        {
          "type": "url",
          "id": "Slider__ContentLink",
          "label": "t:sections.Slider.blocks.settings.Slider__ContentLink.label"
        }
      ]
    }
  ]
}
{% endschema %}
