.AboutBanner{
  width: 100vw;
  align-items: center;
  flex-direction: row;
  height: 450px;
}

.AboutBanner__TextWrapper{
  width: 29.412vw;
  height: 100%;
  background: #9E0810;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
}

.AboutBanner__Title{
  font-size: 2.78rem;
  font-weight: 700;
  text-align: center;
}

.AboutBanner__Link{
  font-size: 1.25rem;
  gap: 9px;
}

.AboutBanner__Btn{
  width: 23px;
  height: 23px;
  border-radius: 9999px;
  border: 1px solid #fff;
}

.AboutBanner__ImageWrapper{
  width: calc(100% - 29.412vw);
  height: 100%;
  overflow: hidden;
}

.AboutBanner__ImageWrapper > img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutBanner__Btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutBanner__Text{
  display: none;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  line-height: 1.8;
}

@media(max-width:767px){
  .AboutBanner{
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
  }
  .AboutBanner__TextWrapper{
    width: 100vw;
    gap: 25px;
    padding: 16.279vw 0 18.605vw;
  }
  .AboutBanner__Title > br{
    display: none;
  }
  .AboutBanner__Title{
    width: 82.791vw;
  }
  .AboutBanner__Text{
    display: block;
    width: 82.791vw;
  }
  .AboutBanner__ImageWrapper{
    width: 100%;
    aspect-ratio: 5/4;
  }
}
