.BlogAll{
  background: #d7b59d;
  align-items: center;
  justify-content: center;
}
.BlogAll__Container{
  background: #fff;
  margin-bottom: clamp(18px,2.24vw,43px);
}

.BlogAll__Article{
  border-bottom: .5px solid #6D6D6D;
  padding: 40px 0;
}
.last-column{
  border: none;
}

.BlogAll__Article > a{
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding-left: clamp(25px,6.944444444444445vw,100px);
  padding-right: clamp(25px,6.944444444444445vw,100px);
  gap: clamp(18px,2.638888888888889vw,38px);
}

.BlogAll__ArticleContent{
  gap: 30px;
}
.BlogAll__ArticleDate{
  font-size: 12px;
  color: #8A000C;
}

.BlogAll__ArticleTitle{
  font-size: 20px;
  margin: 0;
}
.BlogContent__Hr{
  margin: 20px 0;
}

.BlogContent{
  padding-left: clamp(25px,6.944444444444445vw,100px);
  padding-right: clamp(25px,6.944444444444445vw,100px);
  padding-bottom: 80px;
}

.BlogContent__ArticleContent{
  gap: 30px;
  padding-left: clamp(25px,6.944444444444445vw,100px);
  padding-right: clamp(25px,6.944444444444445vw,100px);
  padding-top: 70px;
}

.BlogContent > div > img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
}

.toAll{
  align-items: center;
  gap: 10px;
}

@media(max-width: 500px){
  .BlogAll__ArticleThumbnail{
    min-width: 130px;
    width: 34.121vw;
  }
  .BlogAll__ArticleThumbnail > img{
    width: 100% !important;
    object-fit: cover;
  }
  .BlogAll__ArticleContent{
    gap: 18px;
  }
}
