.footer{
  padding: 90px 0 100px;
  height: fit-content;
  min-height: 650px;
  display: flex;
}
.Footer__ContentWrapper{
  width: 75.521vw;
  max-width: 1450px;
  background: #d7b59d;
  padding-left: 6.771vw;
  margin-top: 4.896vw;
}
.Footer__LogoWrapper{
  display: flex;
  background: #fff;
  width: calc(100% - 75.521vw);
  max-width: 470px;
  padding:0 0 0 120px;
  position: relative;
  min-height: 650px;
}

.Footer__LogoWrapper > img{
  max-width: 143px;
  width: 7.448vw;
  min-width: 81px;
  aspect-ratio: 143/211;
  height: fit-content;
  position: absolute;
  top: 5.208vw;
  left:6.25vw ;
}

.Footer_SectionTitle{
  list-style-type: disc;
}
.Footer__CollectionListWrapper{
  display: flex;
  align-items: center;

}

.Footer__CollectionList{
  display: flex;
  align-items: center;
}
.Footer__CollectionList:nth-of-type(1)::before{
  display: none;
}
.Footer__CollectionList::before{
  content: "";
  height: 16px;
  width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  margin:0 12px;
}

.Footer__Menu{
  max-width: 345px;
  width: 20.969vw;
}

.Footer__MenuContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(16px,1fr));
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  width: fit-content;
  margin-top: 40px;
}
.Footer__PolicyContainer{
  display: flex;
  flex-direction: column;
}


@media(max-width: 990px){
  .Footer__MenuContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 0px;
    width: fit-content;
    margin-top: 40px;
  }
  .Footer__CollectionListWrapper{
    flex-direction: column;
    gap: 15px;
    align-items: baseline;
  }
  .Footer__CollectionList::before{
    display: none;
  }
  .Footer__Menu{
    width: fit-content;
  }
  .Footer__ContentWrapper{
    width: fit-content;
    padding:47px 6.771vw 54.5px;
  }

  }
